.navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

body{
  background: black;
}

.navLogo{
  img{
    background: rgb(208, 208, 208);
    border-radius: 100%;
  }
}

  #home{
    background: red;
    height: 400px;
    h2{
      position: relative;
      font-size: 4vw;
      color: red;
      -webkit-text-stroke: 0.2vw #373a47;
      text-transform: uppercase;
    }
    h2::before{
      content: attr(data-text);
      position: absolute;
      top:0;
      left:0;
      width: 0;
      height: 100%;
      color: rgb(0, 207, 207);
      -webkit-text-stroke: 0vw #373a47;
      border-right: 2px solid rgb(0, 207, 207);
      overflow: hidden;
      animation: animate 6s linear infinite;
    }
    @keyframes animate
    {
      0%{
        width: 0;
      }
      10%{
        width: 0;
      }
      100%{
        width: 0;
      }
      70%,90%{
        width: 100%;
      }
    }
  }

  .projects{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin: auto;
    height: 100%;
    padding-left: 0;
    padding-bottom: 40px;
    
    li{
      margin-top: 30px;
     
      a{
        img{
          background: rgb(221, 221, 221);
          border-radius: 100%;
        }
      }
    }
  }

  .image{
    position: relative;
    cursor: pointer;
    width: 340px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
  }

  

  .image__img{
    width: 100%;
    height: 250px;
    display: block;
    border-radius: 20px;
    // filter: blur(0.8px);
  }

  .image__overlay{
    position: absolute;
    border-radius: 20px;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 36, 73, 0.8);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  .image__overlay:hover{
    opacity: 1;
  }
  .image__overlay:hover > * {
    transform: translateY(0px);
  }

  .image__title{
    font-size: 1.5em;
    font-weight: bold;
  }
  .image__description{
    font-size:1em;
    margin-top: 0.25em;
    padding-left: 7px;
    padding-right: 7px;
  }

  #skills{
    background: rgb(200, 200, 255);
    height: 400px;
  }
  #works{
    background-image: linear-gradient(to right top, #003a92, #003876, #002f51, #00222e, #001414);
    height: 100%;
    width: 90%;
    margin: auto;
    border-radius: 50px;
    h2{
      margin: 0px;
      padding: 20px;
      font-size: 3em;
    }
  }
  #experience{
    background: grey;
    height: 400px;
  }
  #education{
    background: cadetblue;
    height: 400px;
  }

  html {
    scroll-behavior: smooth;
  }



  .bm-item {
    // display: inline-block;
    padding: 10px;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    background:#708f69d3 ;
    color: #000000;
    border-radius: 8px;
    transition: color 0.2s;
  }
  
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
    background: #48773E;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 10px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 30px;
    width: 30px;
    margin-top: 60px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #33642e;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background-image: linear-gradient(to bottom, #91ad8bdc, #99c4b9c1, #b9d7ddb5, #e0e9f234, #ffffff08);
    padding: 10px;
    font-size: 1.15em;
    margin-top: 60px;
    height: 10px;
    border-radius: 30px 30px 10px 0px;
    overflow: hidden;
  }

  .bm-menu::-webkit-scrollbar{
    display: none;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a4700;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    margin-top: 40px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    display: none;
  }


  .homeContainer{
    background: red;
  }